<style>
  img { width: 100%; }
</style>

<div class="header">
  <h3 class="text-muted">keynote roulette</h3>
</div>

<div class="jumbotron">
  <h1>wow apples</h1>
  <select
    ng-model="theme"
    ng-options="label for label in themes">
  </select>
  <p><a class="btn btn-lg btn-success" href="/presentation/{{theme}}">view your thing!</a></p>
</div>

<div class="row marketing">
  <h2>Upload yo files!</h2>
  <form action="/forms/images" method="post" enctype="multipart/form-data">
    <input type="file" name="imageUpload">
    <input type="text" name="tags">
    <input type="submit" value="Upload">
  </form>
</div>

<div class="row marketing">
  <div ng-repeat="image in images">
      <img ng-src="{{image.path}}"/>
      <p>Tags: {{image.tags}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
